.footer__table-element:nth-child(8n+10), .footer__table-element:nth-child(8n+11), .footer__table-element:nth-child(8n+12) {
    background: rgba(188, 170, 222, 0.6);
}

.footer__table-element:nth-child(8n+6), .footer__table-element:nth-child(8n+7), .footer__table-element:nth-child(8n+8) {
    background: rgba(222, 170, 204, 0.6);
}

.footer__table-element {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.row-name, .column-name, .footer__table-element:nth-child(1){
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(188, 170, 222, 0.62));
    border: 2px dotted;
}

