.footer__main-page {
    font-family: "Anime Ace v3", serif;
    line-height: 2;
    text-align: center;
    margin: auto 0;
    color: #1d1d3d;
}

a#footer__position {
    padding-top: 50px;
    margin-top: -50px;
    display: inline-block;
}